body {
    background-color: black;
    background-image: url("img/background.jpg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column; /* stack items vertically */
    height: 100vh; /* set body height to viewport height */
    color: white;
    font-size: larger;
}

.header {
    margin-bottom: 20px; /* Add some space below the header */
    text-align: center; /* Center header content */
}

.content {
    width: 75%;
    margin: 0 auto; /* Center content horizontally */
}

#producten {
    width: 250px;
    margin: 10px;
    overflow: hidden;
    float: left;
}
.submit-button {
    text-align: center; /* Center the submit button */
}